body{
    background-color: #F0C987;
    font-family: monospace;
    margin: 0;
}
#total{
    font-family: monospace;
}

header{
    background-color: #6F8695;
    height: 50px;
    position: sticky;
    top: 0;

}
.HeaderText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.InputBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#result{

}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}
button{
 font-family: monospace;
 margin: 10px;
}
.li-active{
    text-decoration: line-through;
}
