body{
    background-color: #F0C987;
    font-family: monospace;
    margin: 0;
}

#total{
    font-family: monospace;
}

header{
    background-color: #6F8695;
    padding: 10px;
    font-size: 20px;
    position: sticky;
    top: 0;
}

.HeaderText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.InputBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}


button{
 font-family: monospace;
 margin: 10px;
}

.span-active{
    text-decoration: line-through;
}

.Wrap {
    height: 1000px;
}
